$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #FFFFFF;
$primary-color              : #0575E6;
$text-color                 : #222827;
$background-color           : #EEEEEE;
$text-muted-color           : #8898A7;

$custom-google-font         : 'Barlow', sans-serif;
$item-border-radius         : 8px;

$list-item-height           : 28px;
$button-height              : 44px;